
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
:root {
  --purple: #814096;
  --pink: #f83292;
  --gradient: linear-gradient(90deg, var(--purple), var(--pink));
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  scroll-behavior: smooth;
}
body,
html{
    background-color: #fff;
    scroll-behavior: smooth;
    overflow-y: hidden;
}