.maincontent {
    margin-top: 80px;
    padding-top: 50px;
    height: 85vh;
    width: 80%;
    float: right;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      overflow: auto;
  }

.heading{
    text-align: center;
    font-size: 40px;
    text-transform: capitalize;
    background: var(--gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.personal_info{
    height: auto;
    width: 100%;
    padding: 20px;
}

.name{
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 10px;
}
.perso_head{
  width: 100%;
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
  font-weight: 500;
  text-transform: capitalize;
  color:rgb(0, 0, 0);
}
.perso_head span{
    background: #fff;
    padding: 0 10px;
}
.about_he{
    font-size: 20px;
}
.about{
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 6px;
}
.age_he{
    font-size: 20px;

}
.age{
    margin-bottom: 8px;
}
.location_he{
    font-size: 20px;
}
.location{
    text-transform: capitalize;
    font-size: 18px;
}
.business_info{
    height: auto;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}
.bus_head{
    width: 100%;
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-weight: 500;
    text-transform: capitalize;
    color:rgb(0, 0, 0);
  }
  .bus_head span{
      background: #fff;
      padding: 0 10px;
  }
.description{
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn{
    margin-left: 10px;
    display: inline-block;
    margin-top: 1rem;
    padding: 0.2rem 2rem;
    border-radius: 5rem;
    background: var(--gradient);
    font-size: 1.4rem;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
    transition: all 0.3s linear;
}